body {
  background-color: #ebebeb;
  margin: 0px;
  font-family: 'Open Sans',sans-serif;
  color: #626363;
  height: 100%;
}

h2 {
  color: #710DE6;
  font-weight: normal;
  font-size: 40px;
}

.Container, .centerContainer, .radioContainer, .btnAlignNext, .btnAlign, .addMessage {
  display: flex;
}

.Container, .centerContainer {
  flex-direction: column;
  align-items: center;
}

.Container {
  width: 70%;
  min-height: 100vh;
  margin: 0 auto;
  background-color: white;
  padding: 40px;
  box-sizing: border-box;
}

.formContainer {
  width: 60%;
  max-width: 400px;
}

.formContainerWide {
  width: 80%;
  max-width: 600px;
}

.centerContainer {
  justify-content: center;
}

.radioContainer {
  align-items: center;
  justify-content: space-around;
  margin: 0px 0px 40px 0px;
}

.radioContainer p {
  margin: 0px;
}

.btnAlignRight {
  justify-content: flex-end;
}

.btnAlign {
  justify-content: space-between;
}

.addMessage {
  align-items: center;
  color: #710DE6;
}

.snippetBuffer {
  margin: 40px 0px;
}

@media (max-width: 650px) {
  .Container {
    width: 100%
  }
}
